<h1 style="color:black;">
    justbugs and Firebase</h1>
<!-- <h1>{{(user | async)?.uid}}</h1> -->

<div *ngFor="let bug of bugs| async; let i = index">
    <bugs-item (itemEditEvent)="itemEditEvent($event)" (itemCancelEvent)="itemCancelEvent($event)" (itemUpdateEvent)="itemUpdateEvent($event)"
        (itemDeleteEvent)="itemDeleteEvent($event)" (itemThisUserEditEvent)="itemThisUserEditEvent($event)" [isThisUserEditable]="xxxx"
        [bug]="bug" [index]="i" [currentUid]="currentUid"></bugs-item>
</div>


<bugs-form (itemAddEvent)="itemAddEvent($event)">Loading</bugs-form>

<!--[isThisUserEditable] = "xxxx"-->