body {
    background-color:white;
    /*padding-top: 5em;*/
}
* {
    font-family: 'Raleway';
}

.data{
    color:black;
}

button {
    background:red;
    color:white;
    padding: .1em;
    width:100px;
    text-align:center;
    font-size:1.0em;
    margin-bottom: 0px;
    cursor:pointer;
}